.App {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.NavBar {
  list-style-type: none;
  font-size: 18px;
  padding-left: 0px;
}

#bio{
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}

#username{
  margin-top: 10px;
  font-size: 35px;
}

#greeting {
  font-size: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 0px;
}

#question1{
  width: 15%;
  height: 30%;
  float: right;
}

#question2{
  width: 15%;
  height: 30%;
  float: left;
}
#questiontitle{
  font-size: 40px;
  font-family: Verdana, Geneva, sans-serif
}
#questionintro{
  padding-bottom: 25px;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 20px;
}

#questionlist{
  padding-left: 0px;
  margin-top: 25px;
}

.Index{
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
    font-family: Verdana, Geneva, sans-serif;
}
.Index button {
  font-size: 15px;
  font-weight: bold;
  background-color: red;
}

#editing {
  font-size: 16px;
  margin: 9px;
  background-color: limegreen;
}

#answerButton{
  font-size: 16px;
  margin: 6px;
  background-color: gold;
}

#questiontext{
  font-size: 19px;
  font-family: Tahoma, Geneva, sans-serif;
}
#asker{
  font-size: 15px;
}
#body{
  font-size: 19px;
  font-family: Tahoma, Geneva, sans-serif;
}
.newQuest button{
    font-size: 17px;
    font-weight: bold;
    border-top: 7px;
    background-color: cyan;
}
.newQuest input{
  height: 25px;
  margin-right: 4px;
  font-size: 17px;
  text-align: center;
}

.answerspace{
  border-style: groove;
}
