.App {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#greeting {
  font-size: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 0px;
}

#question1{
  width: 15%;
  height: 30%;
  float: right;
}

#question2{
  width: 15%;
  height: 30%;
  float: left;
}

.NavBar {
  font-size: 20px;
  display: inline;
  text-align: center;
  text-decoration: underline;
}

.Navlink{
  padding-left: 9px;
}

#username{
  margin-top: 10px;
  font-size: 35px;
}

#bio{
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}

.Index{
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    background-color: aqua;
    padding-bottom: 5px;
}

.Index button {
  font-size: 15px;
  font-weight: bold;
  background-color: red;
}

#questiontitle{
  font-size: 40px;
  font-family: Verdana, Geneva, sans-serif
}

#currentqtitle{
  font-size: 30px;
  font-weight: bold;
  font-family: serif;
}

#questionintro{
  padding-bottom: 25px;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 20px;
}

#questionlist{
  padding-left: 0px;
  margin-top: 25px;
}

#editform button{
  margin: 5px 2px;
  font-size: 17px;
}
#editform input{
  height: 25px;
  font-size: 17px;
}
.abortbutton{
  font-size: 17px;
  background-color: yellow;
}


#editing {
  font-size: 16px;
  margin: 9px;
  background-color: limegreen;
}

.newQuestion input{
  font-size: 20px;
  width: 23%;
  height: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom-width: 2px;
}

.newQuestion button{
  font-size: 29px;
  background-color: gold;
  padding-top: 3px;
  margin-top: 0px;
  padding-bottom: 7px;
}
.SignUp input{
  margin-right: 4px;
  width: 200px;
}
.SignUp h1{
  margin-bottom: 7px;
  font-size: 35px;
  font-family: Verdana, Geneva, sans-serif
}
.LogIn input{
  margin-right: 4px;
  width: 200px;
}
.LogIn h1{
  margin: 9px;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
}
#questiontext{
  font-size: 19px;
  font-family: Tahoma, Geneva, sans-serif;
}

#asker{
  font-size: 15px;
}

#answerform{
  font-size: 16px;
}

.Answers{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 7px;
    font-family: Verdana, Geneva, sans-serif;
}

#answerer{
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}

#answerButton{
  font-size: 16px;
  margin: 6px;
  background-color: cyan;
}

#body{
  font-size: 19px;
  font-family: Tahoma, Geneva, sans-serif;
}

.answerspace{
  margin-top: 21px;
  border-style: groove;
}

.edit-section {
  margin-top: 25px;
}

.editform {
  font-size: 21px;
  padding-right: 10px;
  margin-bottom: 8px;
}

.submitbutton {
  background-color: cyan;
  padding-top: 6px;
  font-size: 17px;
}
