.App {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.NavBar {
  list-style-type: none;
  padding-right: 40px;
  font-size: 13px;
}

.App-intro {
  font-size: large;
}

#greeting {
  font-size: 20px;
}

#question1{
  width: 15%;
  height: 15%;
  float: right;
}

#question2{
  width: 15%;
  height: 15%;
  float: left;
}
